
{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="col-12  my-5">
  <h1 class="text-dark Roboto my-5">
    Login
  </h1>
  {% if messages %}
  {% for message in messages %}
  <p {% if message.tags %} class="Roboto alert alert-{{message.tags}} mb-5 {% endif %} ">{{message}} </p>
  {% endfor %}
{% endif %}

  <div class="container">
    <div class="row mt-5">
      <div class="shadow col-lg-6 m-auto p-5 text-dark-emphasis bg-dark-subtle  rounded-4">
        <p class="h4 py-3 Roboto" >Login to Your Account.</p>

        <form action="" method="POST" novalidate> {% csrf_token %}
          {% for fm in login_form %}
          <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class="text-warning-subtle" >{{fm.errors|striptags}}</small>  <br><br>
          </div>
          {% endfor %}
          <input type="submit" value="Login" class="btn btn-dark rounded-5 w-100">

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3 Roboto" >{{error}}</p>
            {% endfor %}
          {% endif %}  

        </form><br>
        <p>If you haven't any account, click on the <a class="Roboto" href="{% url 'user_registration' %}">Registration</a></p>

      </div>
    </div>
  </div>

{% endblock content %}