
{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="col-12  my-5">
  <h1 class="text-dark Roboto my-5">
    Update Task 
  </h1>
  {% if messages %}
  {% for message in messages %}
  <p {% if message.tags %} class="Roboto alert alert-{{message.tags}} mb-5 {% endif %} ">{{message}} </p>
  {% endfor %}
{% endif %}



<div class="container text-dark Roboto">
    <div class="row mt-5">
      <div class="shadow col-lg-6 m-auto p-5 text-dark  border border-dark rounded-4">
        {% if form %}
        <form method="post" action="" style="display: inline;" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-dark btn-sm">Add Photo</button>
      </form><br>
   {% endif %}
      </div>



    
    </div>

  </div>


 



{% endblock content %}