.disabled-link:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
  }
.disabled-link:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none
  }
.disabled-link:hover {
  color: #0053ee;
  background-color: transparent;
  text-decoration: underline;
  }
.disabled-link:active {
  background-color: transparent;
  text-decoration: underline;
  }  


.Kalam{
  font-family: 'Kalam', cursive;
}


.Roboto{
  font-family: 'Roboto Mono', monospace;}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.demo-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.demo-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4; 
  -webkit-box-orient: vertical;

}

.p-sa{
  font-size: 20px;
}

.p-s{
  font-size: 18px;
}

.profileSize{
  width: 200px;
}

.table, th, td {
  border: None;
}